In [116]:
import pandas as pd

In [117]:
df = pd.read_csv('adult.data.csv')

In [118]:
df['salary'].value_counts()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [119]:
race_count = df['race'].value_counts()

In [120]:
maledf = df[df['sex'] == 'Male']

average_age_men = maledf['age'].mean()

average_age_men

39.43354749885268

### Bachelors

In [121]:
total = df['education'].value_counts().sum()

TotalBachelors = df[df['education'] == 'Bachelors'].value_counts().sum()

In [122]:
percentage_bachelors = TotalBachelors/total * 100
percentage_bachelors

16.44605509658794

### Advenced education

In [123]:
higher_education = df[df['education'].isin(["Bachelors","Masters","Doctorate"])]

In [124]:
lower_education = df[~df['education'].isin(["Bachelors", "Masters", "Doctorate"])]

In [125]:
Totalhigher50 = len(higher_education[higher_education['salary'] == '>50K'])

TotalhigherEdu = higher_education.shape[0]

higher_education_rich = Totalhigher50/TotalhigherEdu * 100

In [126]:
t = lower_education[lower_education['salary'] == '>50K']
Totalhigher50LowerEdu = t.shape[0]

TotallowerEdu = lower_education.shape[0]
lower_education_rich = Totalhigher50LowerEdu/TotallowerEdu * 100

In [127]:
higher_education_rich

46.535843011613935

In [128]:
lower_education_rich

17.3713601914639

### Min work

In [129]:
df.keys()

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [130]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [132]:
min_work_hours = df['hours-per-week'].min()

In [133]:
df['hours-per-week'].value_counts(ascending=True)

hours-per-week
87        1
74        1
92        1
82        1
94        1
      ...
35     1297
60     1475
45     1824
50     2819
40    15217
Name: count, Length: 94, dtype: int64

In [134]:
dfMinHours = df[df['hours-per-week'] == min_work_hours]

In [135]:
num_min_workers = len(dfMinHours[dfMinHours['salary'] == '>50K'])

total = dfMinHours.shape[0]

In [136]:
rich_percentage = num_min_workers/total * 100